<!DOCTYPE html>
<html>
<head>
    <title>Rikki Patterns - Layout </title>
    <link rel='shortcut icon' href='/static/favicon.ico'>
    <link rel="stylesheet" href="/static/css/site.css">
</head>
<body>
    <div class="panels">
        <div class="depth-1 panel-left">
            <div class="nav">
            
                <h4 class="u-dark-text">
                    <a href="/">Design System</a>
                </h4>
                
                    <hr>
                    <h4 class="u-dark-text u-tight">
                        
                            Design
                        

                        
                    </h4>

                    
                        <div class="nav__item">
                            <a href="/design/colours">
                                Colours
                            </a>
                        </div>
                    
                
                    <hr>
                    <h4 class="u-dark-text u-tight">
                        
                            Components
                        

                        
                    </h4>

                    
                        <div class="nav__item">
                            <a href="/components/list">
                                List
                            </a>
                        </div>
                    
                
            

            </div>
        </div>
        <div class="panel-right">
            <div class="container">
            
<div class="comp-header">
    
    <h1>
        Layout
    </h1>

</div>
<div class="panel-right-flex">
    <div class="panel-right-content">
        
        
        <div class="panel-right-padding">
            


        </div>
    </div>
</div>

            </div>
        </div>
    </div>
    <script src="/static/js/prism.js"></script>
</body>
</html>


