h1, h2 {
    line-height: $font-line-height-heading-1;
}

h1, h2, h3, h4 {
    font-family: $font-family;
}

h1 {
    font-size: rem(32);
    margin-bottom: rem(20);

    @include medium {
        font-size: rem(40);
    }
}

h2 {
    font-size: rem(22);
    margin-bottom: rem(8);

    @include medium {
        font-size: rem(24);
    }
}

h3 {
    font-size: rem(19);
    margin-bottom: rem(12);
}

h4 {
    font-size: rem(18);
    font-weight: $font-weight-normal;
    margin-bottom: rem(12);
}

h5 {
    font-size: rem(16);
    margin-bottom: .8em;
}

h6 {
    font-size: rem(13);
    margin-bottom: rem(6);
}