html {
    font-family: $font-family-sans;
    font-size: 16px;
    line-height: $font-line-height-base;
    background-color: $color-neutral-grey;
    color: $color-charcoal;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    min-height: 100%;
}

body {
    position: relative;
    // This appears to have unintended consequences
    // height: 100%;
    min-height: 100vh;
}
