h1, h2, h3, h4 {

}

h1 {
    font-weight: 300;
    margin-bottom: 2.5rem;
}

h2, h3 {
    margin-bottom: $base-spacing-unit / 2;
    font-weight: 400;
}

h4 {
    margin-bottom: $base-spacing-unit / 2;
    font-weight: 400;
    color: #008BA5;
}
