.u-has-block-links {

  a {
    display: block;
    text-decoration: none;
  }

  .#{$css-prefix}is-nested {
    margin-left: $spacing-medium;
  }

  &--space {

    .#{$css-prefix}list__item {
      padding: 0; // Reset padding if used in conjunction with .slds-has-dividers--{position}-space
    }

    a {
      display: block;
      text-decoration: none;
      padding: $spacing-small;

      @include mq-medium-min {
        padding: $spacing-x-small; // Re-apply that padding to the link
      }
    }
  }
}

// New in 0.12.0
.#{$css-prefix}has-inline-block-links {

  a {
    display: inline-block;
    text-decoration: none;
  }

  &--space a {
    display: inline-block;
    text-decoration: none;
    padding: $spacing-small;

    @include mq-medium-min {
      padding: $spacing-x-small;
    }
  }
}
