// sass-lint:disable single-line-per-selector
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, address,
hr,
table,
fieldset, figure,
pre {
    margin-bottom: $size-space-default;

    &:last-child {
        margin-bottom: 0;
    }
}

p {
	margin-bottom: $size-space-default / 2;

    &:last-child {
        margin-bottom: 0;
    }
}

ul, ol,
dd {
    margin-left: $size-space-default / 1.5;
}