// ============================================================================
// Ticked list. 
// These appear as featured content lists mostly on product pages
// ============================================================================

.list-ticked {
	list-style: none;
	margin-left: 0;
}

	.list-ticked__item,
	.list-ticked > li {
		position: relative;
		margin-bottom: .8em;
		padding-left: 1.875rem;

		&:before {
			@include tick-icon(6cc930);
			position: absolute;
			left: 0;
			top: .1em;
			width: 1.15em;
			height: 1.15em;
			content: '';
		}
	}

	// Outdent the ticks on large screens
	// Only being applied to featured items inside banner content for now
	.list-ticked--outside\@large {
		@include xlarge {
			margin-left: rem(-31);
		}
	}