<table class='font-small table'>
    <thead>
        <tr>
            <td class='table__colheader'>Property</td>
            <td class='table__colheader'>Type</td>
            <td class='table__colheader'>Description</td>
        </tr>
    </thead>
    {% for key, val in component.schema %}
    <tr>
        <td>{{ key }}</td>
        <td>
            <span class="pill t-{{val.type}}">{{ val.type }}</span>
            {% if val.component %}of <a href="/component/{{ val.component  }}">{{ val.component }}</a>{% endif %}
        </td>
        <td>
            {{ val.description }}
            {% if val.example %}
            <pre><code class="language-javascript">{{ val.example }}</code></pre>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
