<a class="card{% if component.3d %} card--3d{% endif %} {{ component.class|default('')}}" href="">
    {%- if component.labels -%}
    <div class="card__labels{% if component.labels|length > 1 %} label-group{% endif %}">

        {% for component in component.labels  %}
            {% include '../label/label.html' %}
        {% endfor %}

    </div>
    {%- endif -%}
    <div class="card__content">

        {% if component.header %}
        <div class="card__header">
            <h2 class="card__title">{{ component.title }}</h2>
        </div>
        {% else %}
            <h2 class="card__title">{{ component.title }}</h2>
        {% endif %}

        {% if component.visual %}
            <div class="card__visual">
                {% if component.visual.img %}
                    <img src="{{ component.visual.img.src }}" alt="{{ component.visual.img.alt }}">
                {% endif %}
                {% if component.visual.rate %}
                    {#
                        TODO Sam, this kills the rest of the content output
                        How do I include the with template option?
                     #}
                    {% set component = component.visual.rate %}
                    {% include '../rate/rate.html' %}
                {% endif %}
            </div>
        {% endif %}


        {%- if component.subtitle -%}
        	<h6 class="card__subtitle">{{ component.subtitle }}</h6>
        {% endif %}

        <div class="card__body">
            {%- if component.intro -%}
                <h4>{{ component.intro }}</h4>
            {%- endif -%}

            {%- if component.excerpt -%}
    			<p>{{ component.excerpt }}</p>
            {%- endif -%}

            {%- if component.features -%}
                {% include '../list-ticked/list-ticked.html' %}
            {%- endif -%}

            {% if component.link_text %}
                <span class="btn btn--white">{{component.link_text}}</span>
            {% endif %}
        </div>

    </div>
</a>



