// ============================================================================
//
// Cards
// Complex link blocks with more style.
// Should be used on link element.
//
// ============================================================================


// Cards tightly in a row with consitent vertical height
.card-group--tight {
    @include medium {
        display: table;
        width: 100%;
        margin-bottom: $size-space-default;

        > .card {
            display: table-cell;
            vertical-align: top;
        }
    }
}

// Card group that gets turned into a slider of blocks
.card-group--slider {
    margin-right: .5em;
    margin-left: .5em;
    margin-bottom: .5em;
}

    .card {
    	display: inline-block;
    	position: relative;
    	border: solid 1px $color-light-separator;
        margin-bottom: $size-space-default;
        color: inherit;
        text-align: left;
        background-color: $color-white;

        &:hover {
        	text-decoration: none;
        	color: inherit;
        }
    }

    .card + .card {
        @include medium {
            border-left: 0;
        }
    }

    // Card with bottom shadow
    .card--3d:after {
        content: '';
        position: absolute;
        bottom: -.25em;
        height: .25em;
        left: .25em;
        right: .25em;
        background-color: $color-black-transparent-05;
    }

    // Card with some fixed dimensions
    .card--fixed-width {
        max-width: 20em;
        min-width: 18.75em;
    }

    .card--fixed-height {
        min-height: 12.1875em;
    }


    	.card__content {
    		padding: 1rem;
            @include medium {
                padding: 1.5rem;
            }
    	}

        // Could be a block of rate content or an image
        .card__visual {
            margin-bottom: $size-space-default;

            @include large {
                max-width: 20rem;
            }

            img {
                display: block;
                width: 100%;
                max-width: 100%;
            }
        }

        .card--visual-float\@medium {

            .card__content {
                @include clearfix;
            }

            .card__visual {
                @include medium {
                    float: right;
                    margin-bottom: 0;
                    margin-left: $size-space-default;
                }
            }
        }

        .card__body {
            max-width: 38em;
            overflow: hidden;
        }

        // Apply link behaviour to an element inside complex link
        .card__faux-link {
            color: $color-link-primary;

            .card:hover & {
                text-decoration: underline;
                color: $color-link-primary-dark;
            }
        }

    	.card__labels {
            width: 100%;
            margin-top: -1px;
            margin-left: -1px;
    	}

        .card__header {
            @include keyline('bottom', .75em, 1em);
            margin-bottom: 1em;

            @include small {
                margin-bottom: .75em;
            }
        }
