.nav-primary {
    width: 100%;
}

.nav__group {
    margin-bottom: .75rem;
    padding-bottom: .25rem;
    border-bottom: solid 2px $color-light-grey;
}

.nav__item {
    margin-bottom: $base-spacing-unit / 2;
    font-size: 14px;
}

.nav__link {
}

.nav__current {
    color: #222 !important;
}
