.u-scrollable-x {
	max-width: 100%;
	overflow: auto;
	overflow-x: scroll;
	overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.u-scrollable-y {
	max-height: 100%;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
