// ------------------------------------
//    #MIXINS
// ------------------------------------

// Global mixins available to the entire project. Define file-specific
// mixins inside the file to which they relate.


// Mixin to drop micro clearfix into a selector.
//
// .simple-usage {
//   @include clearfix;
// }
//
// .detailed-usage {
//   @include clearfix(important);
// }

@mixin clearfix {
    &:after {
        display: table;
        content: '';
        clear: both;
    }
}


@mixin hover {
    .no-touch &:hover {
        @content;
    }
}

@mixin default-space {
    margin-bottom: $size-space-default;

    &:last-child {
        margin-bottom: 0;
    }
}

// enable/disable font smoothing
@mixin font-smoothing($toggle: true) {
    @if ($toggle == true) {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

@mixin font-smoothing-off {
    @include font-smoothing(false);
}

@mixin truncate($width: 100%) {
    max-width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// add arrow to block element
@mixin arrow($orientation: 'up', $color: #000, $size: 1em, $flush: false) {
    position: relative;

    &:after {
        position: absolute;
        content: '';
        border-color: $color;
        width: 0;
        height: 0;
        z-index: 1;

        @if ($orientation == 'up') {

            top: auto;
            bottom: 100%;
            left:  if($flush, 0, (2 * $size));

            border-top: 0;
            border-left: $size solid transparent;
            border-right: $size solid transparent;

            border-bottom-width: $size;
            border-bottom-style: solid;

        } @else if ($orientation == 'down') {

            top: 100%;
            bottom: auto;
            left: if($flush, 0, (2 * $size));

            border-bottom: 0;
            border-left: $size solid transparent;
            border-right: $size solid transparent;

            border-top-width: $size;
            border-top-style: solid;

        } @else if ($orientation == 'right') {

            left: 100%;
            top: if($flush, 0, (2 * $size));

            border-right: 0;
            border-top: $size solid transparent;
            border-bottom: $size solid transparent;

            border-left-width: $size;
            border-left-style: solid;

        } @else if ($orientation == 'left') {

            right: 100%;
            top: if($flush, 0, (2 * $size));

            border-left: 0;
            border-top: $size solid transparent;
            border-bottom: $size solid transparent;

            border-right-width: $size;
            border-right-style: solid;

        }

    }

}

@mixin arrow-r-icon($fill-color: ffffff) {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22breadcrumb%22%20stroke%3D%22%23#{$fill-color}%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M13%2C24%20L19%2C16%20L13%2C8%22%20id%3D%22Line-Copy-3%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E');
    vertical-align: middle;
}

@mixin tick-icon ($fill-color: 77BA22) {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%22-623%20385%2032%2032%22%20enable-background%3D%22new%20-623%20385%2032%2032%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Cpath%20fill%3D%22%23#{$fill-color}%22%20d%3D%22M-609.6%2C411.8c0%2C0-3-3.8-9.8-10.5l2.2-2.2l6%2C5.3c11.3-11.3%2C15-13.5%2C15-13.5s0.8%2C0%2C1.5%2C1.5%20%20C-601.4%2C398.3-609.6%2C411.8-609.6%2C411.8z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    vertical-align: middle;
}

