// ============================================================================
// Buttons
// ============================================================================

$padding-btn: $size-space-default / 1.5;

.btn {
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    color: inherit;

    padding-top: 0;
    padding-right: $padding-btn;
    padding-bottom: 0;
    padding-left: $padding-btn;
    line-height: 2.25;

    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    font-size: rem(16);

    @include truncate;

    &:hover {
    	text-decoration: none;
    }

    &[disabled],
    &.btn--disabled {
        pointer-events: none;
        cursor: default;
        opacity: .5;
    }

}

.btn--small {
    padding-right: $padding-btn / 1.5;
    padding-left: $padding-btn / 1.5;
    line-height: 2;
}

.btn--wide {
    padding-right: $padding-btn * 2;
    padding-left: $padding-btn * 2;
}

.btn--block {
    width: 100%;
}

.btn--block\@small {
    @include small {
        width: 100%;
    }
}

.btn--primary {
	background-color: $color-button-green;
    color: $color-white;
    border-color: $color-button-green;

    &:hover {
    	background-color: $color-button-green-dark;
    	border-color: $color-button-green-dark;
    }
}

.btn--secondary {
	background-color: $color-button-green-dark;
    color: $color-white;
    border-color: $color-button-green-dark;

    &:hover {
    	background-color: $color-button-green-darker;
    	border-color: $color-button-green-darker;
    }
}

.btn--blue {
	background-color: $color-button-blue;
    color: $color-white;
    border-color: $color-button-blue;

    &:hover {
    	background-color: $color-button-blue-dark;
    	border-color: $color-button-blue-dark;
    }
}

.btn--white {
	background-color: $color-white;
    color: $color-button-blue;
    border-color: $color-light-separator;

    &:hover {
    	background-color: $color-feather;
    }
}

.btn--grey {
    background-color: $color-feather;
    color: $color-button-blue;
    border-color: $color-feather-spine;

    &:hover {
        background-color: $color-feather-medium;
    }
}

.btn--grey\+green {
    background-color: $color-white;
    color: #62A829;
    border-color: $color-black-transparent-16;

    &:hover {
        background-color: $color-feather-medium;
    }
}
