// =============================================================================
// Typography
// =============================================================================

// Meta Serif Pro
// ==============

@font-face {
    font-family: 'Meta Serif';
    font-weight: normal; // 400
    font-style: normal;
    src: url('../fonts/MetaSerifWebPro-Book.eot');
    src: url('../fonts/MetaSerifWebPro-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MetaSerifWebPro-Book.woff') format('woff'), /* Modern Browsers */
    url('../fonts/MetaSerifCompPro-Book.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Meta Serif';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/MetaSerifWebPro-BookIta.eot');
    src: url('../fonts/MetaSerifWebPro-BookIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MetaSerifWebPro-BookIta.woff') format('woff'), /* Modern Browsers */
    url('../fonts/MetaSerifCompPro-BookIta.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Meta Serif';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/MetaSerifWebPro-Bold.eot');
    src: url('../fonts/MetaSerifWebPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MetaSerifWebPro-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/MetaSerifCompPro-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Meta Serif';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/MetaSerifWebPro-Black.eot');
    src: url('../fonts/MetaSerifWebPro-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MetaSerifWebPro-Black.woff') format('woff'), /* Modern Browsers */
    url('../fonts/MetaSerifCompPro-Black.ttf') format('truetype'); /* Safari, Android, iOS */
}
