// -----------------------------------------------------------------------------
// Icon with text
// -----------------------------------------------------------------------------
//
// Useful for dropping a small icon next to a piece of text, with some spacing.
//
// <span class="icon-text">
//     <span>The text</span>
//     <svg>
//         <use xlink:href="#arrow-next">
//     </svg>
// </span>

.icon-text {
    > svg {
        margin-top: -.125em;
        margin-right: .25em;
    }
}

.icon-text--rev {
    > svg {
        margin-top: -.125em;
        margin-left: .25em;
    }
}