@mixin keyline($position: bottom, $space: $size-space-default, $space-large: ($size-space-default * 1.5), $color: $color-light-separator, $size: 1px) {
	padding-#{$position}: $space;
	border-#{$position}: solid #{$size} #{$color};

	@include large {
		padding-#{$position}: $space-large;
	}
}

.keyline--bottom {
	@include keyline();
}

.keyline--bottom\@smallish {
	@include smallish {
		@include keyline();
	}
}

.keyline--top {
	@include keyline(top);
}

.keyline--right {
	@include keyline(right);
}

.keyline--arrow-down {
	@include keyline('bottom', .5rem, 1rem);
	position: relative;
	margin-bottom: 1.5rem;
	&:after {
		position: absolute;
	    top: 100%;
	    left: rem(16);
	    border-style: solid;
	    border-width: 10px;
	    border-color: transparent;
	    border-top-color: $color-light-separator;
	    border-bottom: 0;
	    content: '';
	}
	&:before {
		top: 100%;
	    left: rem(17);
	    content: '';
	    position: absolute;
	    border-width: 9px;
	    border-style: solid;
	    border-color: transparent;
	    border-top-color: #fff;
	    border-bottom: 0;
	    z-index: 1;
	}
}