.list-styled {
	@include list-reset;
}

	.list-styled > li {
		position: relative;
		padding-left: 1rem;
		@include list-item-spacing;
	}

	.list-styled > li:before {
		position: absolute;
		left: 0;
		content: '•';
		color: $color-brand-headline-green;
		display: inline-block;
	}

// Nested list should be dashed
.list-styled ul {
	@include list-reset;
	margin-top: .9375em;

	> li {
		padding-left: 1.25em;
		@include list-item-spacing;
	}

	> li:before {
		content: "–";
		position: absolute;
		margin-left: -1.5em;
		margin-top: .2em;
		font-size: .875em;
	}
}