<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ config.seo.title }}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/site.css">
</head>
<body>
    <div class="app">
        <div class="site-content panel-right">
            <div class="container">
            {% block body %}

            {% endblock %}
            </div>
        </div>

        <div class="site-nav panel-left">
            <nav class="nav-primary">
            {% block nav %}
                <h3 class="u-dark-text">
                    <a href="/">Design System</a>
                </h3>
                <hr />
                {% for nav in navigation.children %}
                    <h4 class="u-dark-text">
                        {% if nav.children.length %}
                        {{ nav.label }}
                        {% endif %}

                        {% if not nav.children.length %}
                        <a href="{{ nav.path }}">{{ nav.label }}</a>
                        {% endif %}
                    </h4>
                    {% if nav.children|length > 1 %}
                        <div class="nav__group">
                            {% for child in nav.children %}
                            <div class="nav__item">
                                <a class="nav__link" href="{{ child.path }}">
                                    {{ child.label }}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endblock %}
            </nav>
        </div>
    </div>
    <script src="/static/js/prism.js"></script>
</body>
</html>
