{% extends "base.html" %}
{% block title %}{{ config.seo.title }} {{ component.name }} {% endblock %}

{% block body %}
<div class="page-header">
    {% block header %}
    <h1 class="page-header__title">
        Components
    </h1>
    {% endblock %}
</div>
<div class="panel-right-flex">
    <div class="panel-right-content">
        {% block intro %}
        {% endblock %}
        <div class="gutters">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
